.row {
	display: flex;
	flex-wrap: wrap;
	position: relative;

	&__header {
		justify-content: space-between;
		align-items: center;
		min-height: 50px;

		margin: 0px 20px 0px 20px;
	}

	&__landing {
		justify-content: space-evenly;
		margin: 0px 20px 0px 20px;
	}

	&__review {
		justify-content: center;
	}
}