.row {
	display: flex;
	flex-wrap: wrap;
	position: relative;

	// background-color: green;

	&__header {
		justify-content: space-between;
		align-items: center;
		width: 95%;
		min-height: 50px;

		margin-left: 20px;
	}

	&__landing {
		
	}
}