.image {
	// border: 1px solid green;

	&__hero {
		position: absolute;
		height: 600px;
		right: 38%;

		z-index: 0;
	}

	&__jeremy {
		height: 600px;
		position: absolute;
		left: 5%;
		bottom: 0px;
	}

	&__jeremy_blur {
		height: 550px;
		position: absolute;
		bottom: 0px;
		left: -3%;

		z-index: 0;
	}

	&__icon {
		aspect-ratio: 1/1;
	}

	&__curved_line_top {
		position: absolute;

		width: 20%;
		z-index: 3;

		left: 25%;
	}

	&__curved_line_bottom {
		position: absolute;

		width: 20%;
		z-index: 3;

		left: 50%;
		bottom: 20%;
	}
}