@import "../../colors.scss";

.card {
	display: flex;

	&__primary {
		background-color: $dark_blue;
		border-radius: 15px;
	}

	&__review {
		aspect-ratio: 1109/545;

		margin: 0px 50px 0px 50px;

		align-self: center;
		width: 1109px;

		position: relative;
	}
}